.post-container{
    width: 100%;
    max-width: 700px;
    margin: 0 15px 0 30px;
    line-height: 25px;
    color: rgb(243, 243, 243) !important;
}

.post-content-title{
    text-align: center;
    font-size: 32px !important;
    margin: 20px 0 !important;
    color: white;
}

.post-format ol, ul{
    padding-left: 50px;
    margin: 5px 0;
}


