#profile-admin{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #202020;
    padding-right: 30px;
    width: 150px;
    max-height: 70vh;
    margin-left: 15px;
}

#profile-admin img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

#profile-admin p{
    color: #707070;
    margin-bottom: 20px;
}

#profile-admin h3{
    margin: 10px 0; 
}

.profile-admin-link{
    display: flex;
    flex-direction: column;
}

.profile-admin-link a{
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
    text-decoration: none;
}

.profile-admin-link .active{
    text-decoration: underline;
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
}
